@page
@model HomeDashboard.Pages.Home.IndexModel

<div class="container">
    <div class="row mx-auto">
        <button class="btn btn-light" onclick={subtractMonth()}><</button>
        <h1 id="month" class="text-info"></h1>
        <button class="btn btn-ght" onclick={addMonth()}>></button>
    </div>
    <div class="row">
        <div class="col-12 border p-2 m-2">
            <form method="post">
                <table id="table" class="table table-striped border center">
                    <tr>
                        <th id="sunday" class="border text-center">Sunday</th>
                        <th id="monday" class="border text-center">Monday</th>
                        <th id="tuesday" class="border text-center">Tuesday</th>
                        <th id="wednesday" class="border text-center">Wednesday</th>
                        <th id="thursday" class="border text-center">Thursday</th>
                        <th id="friday" class="border text-center">Friday</th>
                        <th id="saturday" class="border text-center">Saturday</th>
                    </tr> 
                 </table>
            </form>
        </div>
    </div>
</div>
    <br />

    <div class="row">
        @* Current date Events and weather *@
        <div class="col-4">
            <h5 id="date" ></h1>
        </div>
        <div class="col-4">

        </div>
        <div class="col-4 text-right">
            <h5>Weather</h2>
        </div>
    </div>
    <br />

@section Scripts{
    <script src="~/js/todaysDate.js"></script>
}
